<!DOCTYPE html>
<html lang="en" ng-app="xy_module">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="angular.js"></script>

<body>
    <!--视图-->
    <div ng-controller="xyCtrl" ng-cloak="">
        <ul>
            <!-- <li ng-click="change(item)" ng-repeat="item in list|orderBy:'price'" > -->
            <li ng-click="change(item)" ng-repeat="item in list" >
                {{item.productName}}
                {{item.price}}


            </li>
        </ul>


    </div>
    <div ng-disabled="1===0" ng-click="go()">测试文件</div>


    <div>

    </div>
</body>

<script>

    angular.module('xy_module', []);

    angular.module('xy_module').controller('xyCtrl', function ($rootScope, $scope) {
      
        $scope.change=function(item){
            item.price++;
            if(item.price==20){{
                item.price=0;
            }}

        }
        $scope.go=function(){
            alert('gogogogog')
        }
        $scope.list = [{
            "productId": 1001,
            "productName": "得力（deli）33104 办公会议易擦不留痕白板笔 4支组合装（2黑+1红+1蓝）",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:36:30",
            "modifyTime": "2016-12-27 11:24:42",
            "price": 5.67,
            "showPrice": 6.00,
            "channelId": "jd",
            "extProductId": "1227046",
            "imageUrl": "jfs/t2740/362/2564985572/294843/92d239e/576b365bN0c8d74bd.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1002,
            "productName": "广博(GuangBo)10支装易擦型白板笔 黑 BB8528D",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:48:36",
            "modifyTime": "2016-12-27 11:24:50",
            "price": 9.80,
            "showPrice": 9.90,
            "channelId": "jd",
            "extProductId": "1118520",
            "imageUrl": "jfs/t2821/111/2291889389/469195/b5b1e296/575f50cbN948ae450.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1003,
            "productName": "广博（GuangBo） BB8528R 易擦型简约商务白板笔 红色 10支装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:48:05",
            "modifyTime": "2016-12-27 11:24:50",
            "price": 9.80,
            "showPrice": 9.90,
            "channelId": "jd",
            "extProductId": "1118521",
            "imageUrl": "g16/M00/0C/04/rBEbRlOG-4MIAAAAAALJqvIGmMMAACXegDpT6oAAsnC191.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1004,
            "productName": "广博（GuangBo） BB8528B 易擦型简约商务白板笔 蓝色 10支装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:48:49",
            "modifyTime": "2016-12-27 11:24:50",
            "price": 9.80,
            "showPrice": 9.90,
            "channelId": "jd",
            "extProductId": "1118519",
            "imageUrl": "g16/M00/0C/04/rBEbRlOG-3sIAAAAAALpE8ZRNY8AACXegCA09IAAukr460.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1005,
            "productName": "思笔乐（STABILO） 记号乐白板笔641/46（黑色） 单支",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:14:20",
            "modifyTime": "2016-12-27 11:24:50",
            "price": 6.92,
            "showPrice": 7.00,
            "channelId": "jd",
            "extProductId": "1091240",
            "imageUrl": "g13/M0A/04/1A/rBEhUlNHxQ4IAAAAAADIhZV5ptQAALp1wJ9KL0AAMid120.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1006,
            "productName": "得力(deli)6893 物流快递单双头油性记号笔(黑色) 单支装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:33:52",
            "modifyTime": "2016-12-27 11:24:50",
            "price": 2.00,
            "showPrice": 2.00,
            "channelId": "jd",
            "extProductId": "587333",
            "imageUrl": "g5/M02/12/0C/rBEIC0_xSD8IAAAAAADij2YRwgIAADlugLfn58AAOKn087.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1007,
            "productName": "宝克（BAOKE） 880E（0.5mm）经济实用欧标中性笔 红色 12支/盒",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 12:09:44",
            "modifyTime": "2016-12-27 11:24:50",
            "price": 10.05,
            "showPrice": 11.00,
            "channelId": "jd",
            "extProductId": "1100618",
            "imageUrl": "g16/M00/0A/17/rBEbRlN5xyoIAAAAAAPPUGhP0KwAACFwgFRt4EAA89o898.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1008,
            "productName": "宝克（BAOKE） 880E（0.5mm）经济实用欧标中性笔 黑色 12支/盒",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 12:09:45",
            "modifyTime": "2016-12-27 11:24:50",
            "price": 8.43,
            "showPrice": 8.90,
            "channelId": "jd",
            "extProductId": "1100619",
            "imageUrl": "g16/M00/0A/17/rBEbRVN5xy8IAAAAAAOHe7DMghMAACFwgOeHQwAA4eT212.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1009,
            "productName": "得力(deli)6904 0.5mm半针管笔尖中性笔芯(黑)12支/袋装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:34:45",
            "modifyTime": "2016-12-27 11:25:00",
            "price": 7.03,
            "showPrice": 8.00,
            "channelId": "jd",
            "extProductId": "569604",
            "imageUrl": "jfs/t1327/300/265791947/128789/fa095ac2/55d59e41Nb354cd2d.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1010,
            "productName": "金万年（Genvana） K-5067 RS-07系列0.5子弹中性笔芯-红色(20支装)",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:55:15",
            "modifyTime": "2016-12-27 11:24:50",
            "price": 9.90,
            "showPrice": 11.00,
            "channelId": "jd",
            "extProductId": "786898",
            "imageUrl": "jfs/t2956/59/195054802/150466/44eb047b/574f8a05Nc93d8d14.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1011,
            "productName": "马可（Marco）6001-2B-12CB 书写铅笔 原木色六角杆（2B) 12支盒装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 12:15:18",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 5.85,
            "showPrice": 6.90,
            "channelId": "jd",
            "extProductId": "1274723",
            "imageUrl": "jfs/t2428/43/2523124509/186468/1abec53b/56e27937N0acbc07a.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1012,
            "productName": "宝克（BAOKE）1NO850 双珠中性台笔 防漏墨 0.5mm 1支装 黑色",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 12:08:28",
            "modifyTime": "2016-12-27 11:25:02",
            "price": 2.70,
            "showPrice": 3.00,
            "channelId": "jd",
            "extProductId": "1123236",
            "imageUrl": "jfs/t1276/283/970358228/97658/397fb451/556bc0c2Ne91d01d8.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1013,
            "productName": "得力（deli） 33208 标记醒目荧光笔 3支/卡 橙绿黄三色",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:35:49",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 4.49,
            "showPrice": 4.90,
            "channelId": "jd",
            "extProductId": "1006131",
            "imageUrl": "g13/M01/06/0A/rBEhU1KMMxYIAAAAAAFLdHy9SbMAAFs_gHB1OoAAUuM903.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1014,
            "productName": "广博（GuangBo）JH9821D记忆永恒商务速干记号笔 黑色10支装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:50:29",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 9.80,
            "showPrice": 9.90,
            "channelId": "jd",
            "extProductId": "1121889",
            "imageUrl": "jfs/t2692/34/2273907183/543787/4c2298e6/575f56dfN580c510c.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1015,
            "productName": "广博（GuangBo）JH9821R记忆永恒商务速干记号笔红色10支装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:49:23",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 9.80,
            "showPrice": 9.90,
            "channelId": "jd",
            "extProductId": "973353",
            "imageUrl": "g13/M05/0D/13/rBEhU1JD-dUIAAAAAAMHOV7_FQUAADjSgHerfsAAwdR965.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1016,
            "productName": "广博（GuangBo）JH9821B记忆永恒商务速干记号笔蓝色10支装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:49:24",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 9.80,
            "showPrice": 9.90,
            "channelId": "jd",
            "extProductId": "973352",
            "imageUrl": "g14/M00/12/10/rBEhVVJE_YkIAAAAAAMZwhIUZp4AADnYwPO5XAAAxna957.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1017,
            "productName": "得力（deli）8145 30m加长耐用修正带/改正带/涂改带 30米",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:39:06",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 4.68,
            "showPrice": 5.00,
            "channelId": "jd",
            "extProductId": "1546189",
            "imageUrl": "jfs/t802/346/841585582/190303/a10c841c/555060c8N19feb03a.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1018,
            "productName": "三木(SUNWOOD) 5658 单头油性记号笔 蓝色 12支装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:21:07",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 11.56,
            "showPrice": 11.90,
            "channelId": "jd",
            "extProductId": "997153",
            "imageUrl": "jfs/t529/139/1361034858/154260/9dc703ee/54d1d2b3Nebb794fe.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1019,
            "productName": "三木(SUNWOOD) 5658 单头油性记号笔 黑色 12支装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:23:14",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 9.50,
            "showPrice": 11.90,
            "channelId": "jd",
            "extProductId": "1003911",
            "imageUrl": "jfs/t526/251/1095087219/161254/d462cdbd/54d1d2a7Na2e62cb6.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1020,
            "productName": "广博(GuangBo)6寸金属铁书立书挡书靠2片/付 颜色随机WZ5935S",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:50:00",
            "modifyTime": "2016-12-27 11:24:51",
            "price": 8.19,
            "showPrice": 9.00,
            "channelId": "jd",
            "extProductId": "1167690",
            "imageUrl": "jfs/t2296/257/2588404318/253995/936daa84/570e0c90N117a8e8a.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1021,
            "productName": "得力(deli)9060 荧光指示标签/便签条/便利贴/百事贴 (44*12mm)*5pcs 一袋装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:36:34",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 3.90,
            "showPrice": 3.90,
            "channelId": "jd",
            "extProductId": "603835",
            "imageUrl": "g15/M08/08/07/rBEhWVIlnfMIAAAAAAGUwZ_LUmAAACviwLT3vEAAZTZ625.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1022,
            "productName": "三木(SUNWOOD) 96643 荧光指示标签/便利贴/便签纸/便签本/易事贴/百事贴(50×15mm)",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:19:53",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 4.31,
            "showPrice": 4.90,
            "channelId": "jd",
            "extProductId": "686131",
            "imageUrl": "g9/M03/00/02/rBEHaVArcHAIAAAAAAFjfc4vPKIAAAAzwMqwbIAAWOV966.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1023,
            "productName": "得力(deli)30029 透明文具胶带12mm*18m 6卷/筒装",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:35:20",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 4.82,
            "showPrice": 4.90,
            "channelId": "jd",
            "extProductId": "391802",
            "imageUrl": "g14/M00/13/11/rBEhV1MP8OcIAAAAAAGgPbUAqysAAJTpwLYUoYAAaBV822.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1024,
            "productName": "广博(GuangBo)12卷装12mm*12m彩色透明文具胶带窄胶布办公用品TM-12",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:50:25",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 5.85,
            "showPrice": 6.00,
            "channelId": "jd",
            "extProductId": "1534488",
            "imageUrl": "jfs/t1006/22/778054027/51413/d2ae6a/5548396eN3094b7ad.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1025,
            "productName": "广博(GuangBo)高透明宽胶带60mm*60y打包封箱胶布办公文具FX-62KA",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:50:46",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 6.86,
            "showPrice": 7.00,
            "channelId": "jd",
            "extProductId": "1365593",
            "imageUrl": "jfs/t634/218/1483258189/114359/a6f04497/54f80421N23d91ab1.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1026,
            "productName": "南孚(NANFU)LR6AA聚能环5号碱性电池干电池6粒挂卡装/儿童玩具/血压计/遥控器/挂钟/鼠标键盘电池",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:24:57",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 12.90,
            "showPrice": 12.90,
            "channelId": "jd",
            "extProductId": "157002",
            "imageUrl": "jfs/t2656/275/171581397/163795/236177eb/5706955dN019e8b38.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1027,
            "productName": "南孚(NANFU)LR03AAA聚能环7号碱性电池干电池6粒挂卡装/儿童玩具/血压计/遥控器/挂钟/鼠标电池",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:24:50",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 12.90,
            "showPrice": 12.90,
            "channelId": "jd",
            "extProductId": "156982",
            "imageUrl": "jfs/t2920/39/548552926/311308/d4cb9504/575f79ddN04a18dba.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1028,
            "productName": "广博(GuangBo)小号胶带座文具胶布切割器颜色随机JDZ9156",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 13:53:51",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 5.85,
            "showPrice": 7.00,
            "channelId": "jd",
            "extProductId": "1073874",
            "imageUrl": "jfs/t3118/69/1030666915/208131/c5227a3c/57c5289cN2b3647e2.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1029,
            "productName": "得力(deli)811 小号胶带座 颜色随机",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:37:04",
            "modifyTime": "2016-12-27 11:24:52",
            "price": 7.95,
            "showPrice": 8.00,
            "channelId": "jd",
            "extProductId": "385602",
            "imageUrl": "g14/M09/05/01/rBEhVlKf35sIAAAAAAEK0DH_m50AAGeqwM4JCoAAQro724.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }, {
            "productId": 1030,
            "productName": "得力(deli)6034 160mm办公剪刀(小号) 颜色随机 1把",
            "purchaseType": 100,
            "state": 1,
            "createTime": "2016-11-04 14:37:02",
            "modifyTime": "2016-12-27 11:24:53",
            "price": 4.80,
            "showPrice": 4.90,
            "channelId": "jd",
            "extProductId": "385629",
            "imageUrl": "g7/M01/10/1F/rBEHZVDQEooIAAAAAADdmmnHtsUAADUWwLXlnwAAN2y756.jpg",
            "extProduct": null,
            "provincesId": null,
            "provincesName": null,
            "cityId": null,
            "cityName": null,
            "countyId": null,
            "countyName": null,
            "townId": null,
            "townName": null,
            "isGoods": null
        }]
        //settimeout()
        //$timeout 比原生的settimeout 多了一个刷新视图的操作
        /*  $timeout(function(){
              $scope.username = new Date().toLocaleString();
          },1000)*/
    });
</script>

</html>